body{
    margin: 0;
    padding: 0;
}
.profile{
    background-color: beige;
    height: 300px;
    text-align: center;
 }
 
 .profile img{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     margin: 50px auto;
     padding: 50px auto;
 }

.info{
    text-align: center;
    margin: 50px auto;  
    font-weight:bold;
}

.info h1{
    background: url("heart.jpg") no-repeat;
    background-size: 77px;
    background-position: 58%;
    padding: 15px 9px 20px 8px;
    margin-bottom: 20px;
    font-size: 50px;
}

.info ul{
    padding-left: 570px;
}

.info li{
    white-space:nowrap;
    font-size: 15px;
    text-align: justify;
    padding-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    background: url("pig.jpg") no-repeat;
    background-size: 15px;
}

.love{
    text-align: center;
    margin: 20px auto;
    width: 200px;
}

.love h2{
    margin: 40px 30px 30px 60px;
    font-size: 25px;
    background: url("flower.jpg") no-repeat;
    background-size: 35px;
}

.love ul{
    padding-left: 5px;
}

.love li{
    list-style: none;
    padding-left: 5px;
    margin-bottom: 10px;
}

.love img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 20px 30px 30px 0px; 
}

.wish{
    text-align: center;
    margin: 30px auto;
    width: 200px;
}

.wish h2{
    padding: 5px;
    margin: 40px 30px 30px 60px;
    font-size: 25px;
    background: url("bucket.jpg") no-repeat;
    background-size: 35px;
}

.wish ul{
    padding: 5px 5px 30px 40px;
}

.wish li{
    list-style: none;
    padding: 10px 0px 40px;
    margin: -25px;
}

.wish img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 20px 30px 30px 0px; 
    padding-bottom: -20px;
}

.place{
    text-align: center;
    margin: 20px auto;   
}

.place h2{
    margin: 5px 554px 30px 590px;
    font-size: 25px;
    background: url("cow.jpg") no-repeat;
    background-size: 35px;
}

.place li{
    list-style: none;
    padding: 10px 55px 5px 52px;
    margin: 10px 20px 10px 5px;
    display: inline-block;
    align-items: center;
}

.place img{
    display:list-item;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 20px 26px 50px 23px; 
    padding-bottom: -20px;
}
